%a#about{name: "about"}
.border
.aboutus
  .container
    .row
      .col-xs-12
        / Title
        .head
          .bor
          %h2 Tentang kami
          .bor
          .button
            %a.anchorLink{href: "#irma"} Irma Detia Rini
            \ 
            %a.anchorLink{href: "#levi"} Pahlevi Fikri Auliya
    %a#irma
    .row
      .col-xs-8
        %div
          / Groom details with photo
          %h3
            Irma Detia Rini
            %span.ameta
          %a.thumbnail{href:"#", style: 'width:150px; float:left; margin-right:15px; margin-bottom: 10px'}
            %img{alt: "", src: "assets/img/photos/irma.jpg"} 
          %p
            Assalamu’alaikum... Setelah testimoni dari Levi, sekarang giliran saya memperkenalkan diri  sendiri ya. Perkenalkan, saya Irma Detia Rini, lahir di Bogor, 28 Desember 1989. Saya anak pertama dari dua bersaudara, kakak dari adik saya yang paling ganteng, M. Luqman Fauzi, yang saat ini duduk di bangku kelas XI MAN 13 Jakarta. Berbeda dengan Levi yang menghabiskan masa kecil hingga sekarang di tempat berbeda, saya tinggal di Depok sejak berusia dua tahun sampai sekarang. Menempuh pendidikan sejak taman kanak-kanak hingga bangku kuliah di Depok: TK Panca Daya-SD Pemuda Bangsa-SMP Negeri 3 Depok-SMA Negeri 1 Depok-Universitas Indonesia. Bermain dan belajar banyak hal di sana. Tumbuh dan berkembang di sana.

          %p
            Minat saya pada dunia kesehatan dan kesukaan saya untuk berinteraksi dengan orang lain akhirnya membawa saya untuk belajar di Fakultas Ilmu Keperawatan UI setelah lulus SMA pada tahun 2008. Kenapa akhirnya memilih keperawatan? Karena saya melihat adanya ladang amal luas yang bisa saya garap nantinya. Dan alhamdulillah, saat pengumuman hasil UMB, rasanya yakin untuk diambil. Semakin lama belajar dan mengalami, semakin terasa manfaatnya, semakin suka >.<, hehe. Saking luasnya yang saya pelajari di keperawatan, saya jadi punya banyak mimpi, dari mulai menjadi perawat luka, konselor laktasi, berwirausaha di bidang keperawatan, dan masih banyak lagi. Lho kok banyak banget? Hehe, nggak apa-apa ya? Bermimpi itu gratis kan? ^.^. Oiya, selain itu, saya juga suka baca, nonton, menulis, dan jalan-jalan. Hmm... Bergerak dalam kekhususan apapun nantinya, saya ingin bisa menebar manfaat seluas-luasnya untuk banyak orang. Tidak terbatas usia, ruang, dan waktu. Semoga Allah tunjukkan jalannya dan mampukan saya. Semoga juga pertemuan saya dengan Levi ini membawa keberkahan untuk diri kami dan orang-orang di sekitar kami nantinya. Berkah kini, nanti, dan seterusnya.
          .bor

      .col-xs-4{style: 'margin-top:60px'}
        .bor
        %blockquote 
          %p Kesan pertama yang menarik untuk mengenal Irma lebih dalam, adalah kerinduannya pada Ramadhan, kecintaannya pada ilmu, dan penghargaannya pada waktu. Dan semakin mengenalnya, semakin mendapati kebaikan-kebaikan lain padanya. 

          %p Ada juga beberapa ekspektasi yang - alhamdulillah - meleset :D. Kesan awalnya Irma serius, ternyata supel dan suka bercanda. Irma agak pemalu, tapi setelah sudah cukup mengenal, ternyata banyak juga cerita….
        .bor
    .border
    %hr/
    .itop
      %a.anchorLink{href: "#about"}
        %i.icon-chevron-up
    %a#levi
    .row
      .col-xs-8
        %div
          %h3
            Pahlevi Fikri Auliya
            %span.ameta
          %a.thumbnail{href:"#", style: 'width:150px; float:left; margin-right:15px; margin-bottom: 10px'}
            %img{alt: "", src: "assets/img/photos/levi.jpg"} 
          %p
            Mungkin karena harapan orang tua pada nama tengah saya, saya tumbuh menjadi seorang yang suka penasaran untuk berpikir dan hobi bertanya macam-macam.

          %p
            Saya menghabiskan masa kecil di negeri Sakura, mengikuti bapak yang tugas kuliah. Kurang lebih 5 tahun, saya berada di sekolah yang hanya lima orang isi kelasnya: Sekolah Republik Indonesia Tokyo. Tempat yang meninggalkan banyak kesan, sebelum akhirnya kembali ke tanah air, bermukim di kota pelajar, Yogyakarta hingga masa SMA.

          %p
            Minat saya pada dunia informatika dimulai sejak mengikuti Olimpiade Sains Nasional Komputer. Setelah menyelesaikan S1 di Computer Science Nanyang Technological University, saat ini saya sedang menempuh jenjang S2 di National University of Singapore, sekaligus mencari nafkah di sebuah perusahaan IT di Singapura.

          %p
            Saya terobsesi untuk mengamalkan ilmu saya dengan menebar kebaikan, salah satunya melalui media IT.
          .bor
      
      .col-xs-4{style: 'margin-top:60px'}
        .bor
        %blockquote
          %p
            Levi, seorang teman baru yang tampak kalem dan agak polos. Tapi ternyata memiliki keberanian dan kelugasan dalam mengutarakan maksud dan pemikirannya, hingga orang tua saya pun cukup salut dan geleng-geleng kepala karenanya.
          %p
            Levi juga seorang pembelajar yang sangat baik. Terlihat dari kesukaannya bertanya tentang apapun. Walaupun terkadang pertanyaannya membuat saya kaget, heran, dan bingung menjawabnya. Hehehe.. Salah satu hal yang saya syukuri ada pada Levi adalah dukungannya untuk mengembangkan diri dan beraktivitas dalam kebaikan, apapun bentuknya. Mengenalnya membuat saya banyak mengevaluasi diri dan belajar banyak darinya. Keep calm and inspiring, Levi! :D
        .bor
