!!!
%a#home{name: "home"}
/ Header
%header
  .container
    .row
      .col-md-12
        .hero
          / Getting married
          .well
            / date
            %h3 17 November 2013
            / Use the below link to create line with heartin
            .bor
            / Name
            %h2
              Irma
              %img{alt: "", src: "assets/img/heartin.png"}/
              Levi
            .bor
            / Small para
            %p Warna warni yang bersemi di Ramadhan, menjulang jauh hingga ufuk nanti  
          / Button. Note down the class "button"
          .button
            %a.anchorLink{href: "#wedding"} Wedding
            \ 
            %a.anchorLink{href: "#rsvp"} RSVP
%a#message{name: "about"}
.border
.aboutus
  .container
    .row
      .col-md-12
        .head
          .bor
          %h2 Pernikahan, awal warna-warni itu...
          .bor
    .row
      .col-md-8
        %div
          %p
            Menikah berarti terus belajar. Menempa diri supaya selalu jadi lebih baik.
            Belajar begitu banyak hal, yang mungkin belum pernah terpikirkan sebelumnya.

          %p
            Menikah berarti belajar untuk lebih mandiri, lebih tegar, lebih kuat. Karena bangunan keluarga itu, kita sendirilah yang membangun. Bukan orang tua, apalagi orang lain. 

          %p
            Menikah berarti belajar menerima. Menerima pasangan kita, dengan kurang dan lebihnya. Menerima takdir hidup yang Allah gariskan bersamanya. Menerima keluarga baru, teman2 baru, kehidupan baru, yang bisa jadi jauh berbeda dengan kehidupan kita sebelumnya. Menerima dengan hati yang lapang dan penuh syukur.

          %p
            Menikah berarti belajar berbagi. Berbagi peran. Berbagi ilmu. Berbagi mimpi dan harapan. Berbagi suka dan duka. Berbagi lelah dan beban, saling mengisi, saling memahami, saling menghibur, saling menopang.

          %p
            Menikah berarti belajar menjadi tim yang solid. Karena ke depannya, diri ini bukan hanya saya, tapi kami, kita. Yang bisa berarti kita berdua, bertiga, berempat, berlima, dan seterusnya. Belajar menjadi tim yang kompak, di dunia, hingga sampai di surgaNya nanti.

          %p
            Menikah berarti belajar untuk jauh lebih taat. Karena bagi saya yang seorang perempuan, setelah menikah, keridhoan Allah bukan hanya terletak pada keridhoan orang tua saya, tapi juga pada keridhoan suami saya nantinya. Belajar membangun hormat dan ketundukan.

          %p
            Selama proses perkenalan hingga saat ini Papa saya jadi sering bertanya, “Kaka bakal tetep sayang nggak sama Papa kalau sudah nikah?” :’). “Iya atuh Papaa, masa enggak.”.. Hmm.. I will always be your daughter Pa.. Itu tidak nggak akan berubah dan mengurangi rasa sayang ke papa, mama, dan Fauzi. Maka dari sinipun saya belajar, bahwa menikah berarti belajar menumbuhkan cinta yang lebih besar. Karena banyak cinta lain yang juga menunggu untuk dirawat.

          %p
            Menikah juga anugerah. Penggenap separuh diin. Pembuka pintu-pintu keberkahan lainnya.

          %p
            Menikah berarti punya teman. Teman hidup yang insyaAllah akan bersama melihat mejikuhibiniunya kehidupan. Teman yang akan saling mengingatkan untuk terus mengingat Allah. Teman yang akan saling menjadi cermin untuk kita berkaca. Teman yang siaga. Hangat, menenangkan, dan sepertinya akan membuat perjalanan ini jadi lebih seru :D

      .col-md-4
        .div
          %p
            Saya berprinsip, tidak ingin menikah karena jatuh cinta, jika belum siap untuk menanam cinta. Karena “jatuh” adalah kata kerja pasif, sebuah ketidaksengajaan yang bisa saja segera terlupakan. Dan ketika jatuh, hakikatnya kita berpindah dari tempat yang tinggi pada tempat yang rendah.

          %p 
            Sementara menanam, mensyaratkan kerja-kerja aktif. Perlu selalu disupply nutrisi agar sehat, disirami agar segar, diteduhi agar tidak kekeringan, disinari agar terus tumbuh besar. Ada suka, ada duka. Ada nikmat, ada musibah. 

          %p 
            Ketika angin bertiup kencang dan ketika terik terasa menyengat, perlu kerja-kerja aktif untuk melindungi. Pun ketika ranting-ranting bercabang kokoh, ketika daun-daun mulai tumbuh hijau, perlu kerja-kerja aktif untuk mensyukuri.

          %p 
            Ada sabar, ada syukur.

          %p 
            Sebuah jalan yang panjang. Namun insyaAllah kelak hasilnya adalah pohon yang kokoh akan terpaan badai, rindang dan meneduhkan, plus buah-buahnya yang manis. Memberikan manfaat dan perlindungan bagi siapa pun di sekitarnya - sekitarnya.
.border

%hr/
.itop
  %a.anchorLink{href: "#home"}
    %i.icon-chevron-up