!!!
%a#home{name: "home"}
/ Header
%header
  .container
    .row
      .col-xs-12
        .hero
          / Getting married
          .well
            / date
            %h3 17 November 2013
            / Use the below link to create line with heartin
            .bor
            / Name
            %h2
              Irma
              %img{alt: "", src: "assets/img/heartin.png"}/
              Levi
            .bor
            / Small para
            %p Warna warni yang bersemi di Ramadhan, hingga menunju horizon nanti  
%a#message{name: "about"}
.border
.aboutus
  .container
    .row
      .col-xs-12
        .head
          .bor
          %h2 Pernikahan, awal warna-warna itu...
          .bor
    .row
      .col-xs-6
        %a.thumbnail{href:"#", style: 'width:150px; float:left; margin-right:15px; margin-bottom: 10px'}
          %img{alt: "", src: "assets/img/photos/irma.jpg", style: 'height:200px'} 
        %p
          Menikah adalah sebuah proses perbaikan diri seumur hidup. Proses pembelajaran yang panjang, yang karenanya, perbekalan terbaik, peta yang benar, dan tujuan yang sama perlu dipersiapkan.

        %p Tapi tak perlu takut, karena…

        %p Ia adalah pintu kebaikan besar yang Allah hadiahkan untuknya. Pasangannya akan melengkapinya, menjadi cermin kebaikan untuk berbenah, dan mendatangkan ketenangan hati baginya. Bersamanya, kekuatan lebih besar akan terlahir, karena Allah menghimpun kebaikan-kebaikan yang ada pada keduanya.

        %p Perjalanan mereka mungkin tidak selalu mulus, tapi dengan seizin-Nya, akan banyak warna-warni indah yang mendatangkan kesyukuran dan mengeratkan mereka. Perjalanan mereka bukan hanya sekedar perjalanan, tapi menjadi perjalanan yang meninggalkan jejak terbaik, yang juga membawa kebaikan bagi orang-orang di sekitarnya. Mengantarkan mereka bersama-sama menuju keridhoan Tuhannya :)
 

      .col-xs-6
        %a.thumbnail{href:"#", style: 'width:150px; float:left; margin-right:15px; margin-bottom: 10px'}
          %img{alt: "", src: "assets/img/photos/levi.jpg", style: 'height:200px;'} 
        %p
          Saya berprinsip, tidak ingin menikah karena jatuh cinta. Jika belum siap untuk menanam cinta. 

        %p 
          Karena “jatuh” adalah kata kerja pasif, sebuah ketidaksengajaan yang bisa saja segera terlupakan. Dan ketika jatuh, hakikatnya kita berpindah dari tempat yang tinggi menuju tempat yang rendah.

        %p 
          Sementara "menanam", memiliki prasyarat kerja-kerja aktif. Ibarat menanam tanaman, perlu selalu disupply nutrisi agar sehat, disirami agar segar, disinari agar terus tumbuh besar.

        %p 
          Ketika angin bertiup kencang, perlu kerja-kerja aktif untuk melindungi. Pun ketika mulai berbuah manis, perlu kerja-kerja aktif untuk mensyukuri.

        %p 
          Ada sabar, ada syukur.

        %p 
          Sebuah jalan yang panjang. Namun insyaAllah hasilnya adalah pohon yang kokoh akan terpaan badai. Daunnya rindang dan meneduhkan, buah-buahnya pun manis. Memberikan manfaat dan perlindungan bagi siapa pun di sekitarnya.
.border

%hr/
.itop
  %a.anchorLink{href: "#home"}
    %i.icon-chevron-up

%audio{autoplay: "", loop: ""}
  %source{src: "assets/music/1.mp3", type: "audio/mpeg"}