!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    / Title
    %title We Are Getting Married!
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "keywords"}/
    %meta{content: "", name: "author"}/
    / Google web fonts
    %link{href: "http://fonts.googleapis.com/css?family=Droid+Serif:400,700", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Droid+Sans:400,700", rel: "stylesheet", type: "text/css"}/
    / Stylesheets
    %link{href: "assets/style/bootstrap.css", rel: "stylesheet"}/
    %link{href: "assets/style/flexslider.css", rel: "stylesheet"}/
    %link{href: "assets/style/font-awesome.css", rel: "stylesheet"}/
    /[if IE 7]
      <link rel="stylesheet" href="assets/style/font-awesome-ie7.css">
    %link{href: "assets/style/style.css", rel: "stylesheet"}/
    / HTML5 Support for IE
    /[if lt IE 9]
      <script src="assets/js/html5shim.js"></script>
    / Favicon
    %link{href: "assets/img/favicon/favicon.png", rel: "shortcut icon"}/
  %body
    / Bootstrap navbar
    .navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav{role: "banner"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %nav.collapse.navbar-collapse.bs-navbar-collapse{role: "navigation"}
          %ul.nav.navbar-nav
            / Navigation links. Note down the class name. It is important
            %li
              %a.anchorLink{href: "#home"} Home
            %li
              %a.anchorLink{href: "#about"} About
            %li
              %a.anchorLink{href: "#photos"} Photos
            %li
              %a.anchorLink{href: "#wedding"} Wedding
            %li
              %a.anchorLink{href: "#rsvp"} RSVP
    %a#home{name: "home"}
    / Header
    %header
      .container
        .row
          .col-md-12
            .hero
              / Getting married
              %h1 We're Getting Married!
              .well
                / date
                %h3 24th December, 2012
                / Use the below link to create line with heartin
                .bor
                / Name
                %h2
                  Ashok
                  %img{alt: "", src: "assets/img/heartin.png"}/
                  Jenny
                .bor
                / Small para
                %p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.
              / Button. Note down the class "button"
              .button
                %a.anchorLink{href: "#wedding"} Wedding
                \ 
                %a.anchorLink{href: "#rsvp"} RSVP
    %a#about{name: "about"}
    .border
    .aboutus
      .container
        .row
          .col-md-12
            / Title
            .head
              .bor
              %h2 About Us
              .bor
          .col-md-12
            .well.center
              .head
                / Our love story
                %h3 Our Story
                .bor
                %p Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.
          .col-md-6
            .about
              / Groom details with photo
              %h3
                Ashok
                %span.ameta - Groom, Morbi ac felis nec mauris
              %p
                %img{alt: "", src: "assets/img/photos/boy.jpg"}>/
                Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat. Proin rutrum, erat eget posuere semper,
                = succeed "," do
                  %em arcu mauris posuere tortor
                %a{href: "#"} magna  cursus
                ac ultrices magna.
          .col-md-6
            .about
              / bride details with photo
              %h3
                Jenny
                %span.ameta - Bride, Morbi ac felis nec mauris
              %p
                %img{alt: "", src: "assets/img/photos/girl.jpg"}>/
                Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat. Proin rutrum, erat eget posuere semper,
                = succeed "," do
                  %em arcu mauris posuere tortor
                %a{href: "#"} magna  cursus
                ac ultrices magna.
    .border
    %a#photos{name: "photos"}
    %hr/
    .itop
      %a.anchorLink{href: "#home"}
        %i.icon-chevron-up
    .border
    .container
      .row
        .col-md-12
          .head
            .bor
            %h2 Gallery
            .bor
        .col-md-12
          / Slider (Flex Slider
          / Flex slider
          .flexslider
            %ul.slides
              / Each slide should be enclosed inside li tag.
              / Slide #1
              %li
                / Image
                %img.img-responsive{alt: "", src: "assets/img/photos/p1.jpg"}/
                / Caption
                .flex-caption
                  / Title
                  %h3 Title #1
                  / Para
                  %p Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.
              / Slide #2
              %li
                %img.img-responsive{alt: "", src: "assets/img/photos/p2.jpg"}/
                .flex-caption
                  %h3 Title #2
                  %p Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.
              %li
                %img.img-responsive{alt: "", src: "assets/img/photos/p3.jpg"}/
                .flex-caption
                  %h3 Title #3
                  %p Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.
              %li
                %img.img-responsive{alt: "", src: "assets/img/photos/p4.jpg"}/
                .flex-caption
                  %h3 Title #4
                  %p Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.
              %li
                %img.img-responsive{alt: "", src: "assets/img/photos/p5.jpg"}/
                .flex-caption
                  %h3 Title #5
                  %p Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.
          / Slider ends
    .border
    %a#wedding{name: "wedding"}
    %hr/
    .itop
      %a.anchorLink{href: "#home"}
        %i.icon-chevron-up
    .border
    .container
      .row
        .col-md-12
          .head
            .bor
            %h2 The Wedding
            .bor
        .col-md-4
          .wedding
            / Ceremony details
            %h4
              %i.icon-heart
              Ceremony
            %a{href: "#"} Royal Korem Church
            %br/
            12, New Charka Road
            %br/
            New York City, NY 43423
            %br/
            (123) 456-7890
            %br/
            %a{href: "http://maps.google.com"} Get Direction
            %hr/
            / Reception details
            %h4
              %i.icon-star
              Reception
            %a{href: "#"} Royal Korem Garden
            %br/
            12, New Charka Road
            %br/
            New York City, NY 43423
            %br/
            (123) 456-7890
            %br/
            %a{href: "http://maps.google.com"} Get Direction
        .col-md-4
          .wedding
            / Wedding details
            %h4
              %i.icon-glass
              Wedding Party
            Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus  rutrum aliquet.
            = succeed "John" do
              %h5 Ring Bearer:
            %h5 Bridesmaids:
            Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.
            %h5 Groomsmen:
            Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.
        .col-md-4
          .wedding
            / Travel and Accomodation
            %h4
              %i.icon-home
              Accommodations
            %a{href: "#"} Royal Korem Garden
            %br/
            12, New Charka Road
            %br/
            New York City, NY 43423
            %br/
            (123) 456-7890
            %br/
            %a{href: "http://maps.google.com"} Get Direction
            %hr/
            %h4
              %i.icon-truck
              Travel
            %h5 By Car:
            Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor.
            %br/
            %h5 By Flight:
            Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor.
    .border
    %a#rsvp{name: "rsvp"}
    %hr/
    .itop
      %a.anchorLink{href: "#home"}
        %i.icon-chevron-up
    .border
    .container
      .row
        .col-md-12
          .head
            .bor
            %h2 RSVP
            .bor
        .col-md-12
          .well
            / Contact details
            %h3 Please fill out the below form
            %p Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat.
            %form.form-inline
              .form-group
                .col-md-12
                  %input.form-control.input-sm{placeholder: "Name", type: "text"}/
              .form-group
                .col-md-12
                  %input.form-control.input-sm{placeholder: "Email", type: "text"}/
              .form-group
                .col-md-12
                  %input.form-control.input-sm{placeholder: "Attending?", type: "text"}/
              .form-group
                .col-md-3
                  %button.btn.btn-success.btn-sm{type: "submit"} Submit
            %p
              If you have any questions, let me know
              %a{href: "mailto:something@gmail.com"} something@gmail.com
    .border
    %hr/
    .itop
      %a.anchorLink{href: "#home"}
        %i.icon-chevron-up
    / Footer
    %footer
      .container
        .row
          .col-md-12
            %p
              Copyright ©
              %a{href: "#"} Your Site
            .border
        .clearfix
    / JS
    %script{src: "assets/js/jquery.js"}
    %script{src: "assets/js/bootstrap.js"}
    %script{src: "assets/js/jquery.flexslider-min.js"}
    %script{src: "assets/js/jquery.anchor.js"}
    %script{src: "assets/js/custom.js"}