!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    / Title
    %title Irma & Levi
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "keywords"}/
    %meta{content: "", name: "author"}/
    / Google web fonts
    %link{href: "http://fonts.googleapis.com/css?family=Droid+Serif:400,700", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Droid+Sans:400,700", rel: "stylesheet", type: "text/css"}/
    / Stylesheets
    %link{href: "assets/style/bootstrap.css", rel: "stylesheet"}/
    %link{href: "assets/style/flexslider.css", rel: "stylesheet"}/
    %link{href: "assets/style/font-awesome.css", rel: "stylesheet"}/
    /[if IE 7]
      <link rel="stylesheet" href="assets/style/font-awesome-ie7.css">
    %link{href: "assets/style/style.css", rel: "stylesheet"}/
    / HTML5 Support for IE
    /[if lt IE 9]
      <script src="assets/js/html5shim.js"></script>
    / Favicon
    %link{href: "assets/img/favicon/favicon.png", rel: "shortcut icon"}/
  %body
    / Bootstrap navbar
    .navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav{role: "banner"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %nav.collapse.navbar-collapse.bs-navbar-collapse{role: "navigation"}
          %ul.nav.navbar-nav
            / Navigation links. Note down the class name. It is important
            %li
              %a.anchorLink{href: "#home"} Home
            %li
              %a.anchorLink{href: "#about"} Tentang Kami
            %li
              %a.anchorLink{href: "#wedding"} Pernikahan
            %li
              %a.anchorLink{href: "#guest-book"} Buku Tamu
    %a#home{name: "home"}
    / Header
    %header
      .container
        .row
          .col-md-12
            .hero
              / Getting married
              .well
                / date
                %h3 17 November 2013
                / Use the below link to create line with heartin
                .bor
                / Name
                %h2
                  Irma
                  %img{alt: "", src: "assets/img/heartin.png"}/
                  Levi
                .bor
                / Small para
                %p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.
              / Button. Note down the class "button"
              .button
                %a.anchorLink{href: "#wedding"} Wedding
                \ 
                %a.anchorLink{href: "#rsvp"} RSVP
    %a#message{name: "about"}
    .border
    .aboutus
      .container
        .row
          .col-md-8
            .about
              %p
                Menikah berarti terus belajar. Menempa diri supaya selalu jadi lebih baik.
                Belajar begitu banyak hal, yang mungkin belum pernah terpikirkan sebelumnya.

              %p
                Menikah berarti belajar untuk lebih mandiri, lebih tegar, lebih kuat. Karena bangunan keluarga itu, kita sendirilah yang membangun. Bukan orang tua, apalagi orang lain. 

              %p
                Menikah berarti belajar menerima. Menerima pasangan kita, dengan kurang dan lebihnya. Menerima takdir hidup yang Allah gariskan bersamanya. Menerima keluarga baru, teman2 baru, kehidupan baru, yang bisa jadi jauh berbeda dengan kehidupan kita sebelumnya. Menerima dengan hati yang lapang dan penuh syukur.

              %p
                Menikah berarti belajar berbagi. Berbagi peran. Berbagi ilmu. Berbagi mimpi dan harapan. Berbagi suka dan duka. Berbagi lelah dan beban, saling mengisi, saling memahami, saling menghibur, saling menopang.

              %p
                Menikah berarti belajar menjadi tim yang solid. Karena ke depannya, diri ini bukan hanya saya, tapi kami, kita. Yang bisa berarti kita berdua, bertiga, berempat, berlima, dan seterusnya. Belajar menjadi tim yang kompak, di dunia, hingga sampai di surgaNya nanti.

              %p
                Menikah berarti belajar untuk jauh lebih taat. Karena bagi saya yang seorang perempuan, setelah menikah, keridhoan Allah bukan hanya terletak pada keridhoan orang tua saya, tapi juga pada keridhoan suami saya nantinya. Belajar membangun hormat dan ketundukan.

              %p
                Selama proses perkenalan hingga saat ini Papa saya jadi sering bertanya, “Kaka bakal tetep sayang nggak sama Papa kalau sudah nikah?” :’). “Iya atuh Papaa, masa enggak.”.. Hmm.. I will always be your daughter Pa.. Itu tidak nggak akan berubah dan mengurangi rasa sayang ke papa, mama, dan Fauzi. Maka dari sinipun saya belajar, bahwa menikah berarti belajar menumbuhkan cinta yang lebih besar. Karena banyak cinta lain yang juga menunggu untuk dirawat.

              %p
                Menikah juga anugerah. Penggenap separuh diin. Pembuka pintu-pintu keberkahan lainnya.

              %p
                Menikah berarti punya teman. Teman hidup yang insyaAllah akan bersama melihat mejikuhibiniunya kehidupan. Teman yang akan saling mengingatkan untuk terus mengingat Allah. Teman yang akan saling menjadi cermin untuk kita berkaca. Teman yang siaga. Hangat, menenangkan, dan sepertinya akan membuat perjalanan ini jadi lebih seru :D

          .col-md-4
            .div
              %p
                Saya berprinsip, tidak ingin menikah karena jatuh cinta, jika belum siap untuk menanam cinta. Karena “jatuh” adalah kata kerja pasif, sebuah ketidaksengajaan yang bisa saja segera terlupakan. Dan ketika jatuh, hakikatnya kita berpindah dari tempat yang tinggi pada tempat yang rendah.

              %p 
                Sementara menanam, mensyaratkan kerja-kerja aktif. Perlu selalu disupply nutrisi agar sehat, disirami agar segar, diteduhi agar tidak kekeringan, disinari agar terus tumbuh besar. Ada suka, ada duka. Ada nikmat, ada musibah. 

              %p 
                Ketika angin bertiup kencang dan ketika terik terasa menyengat, perlu kerja-kerja aktif untuk melindungi. Pun ketika ranting-ranting bercabang kokoh, ketika daun-daun mulai tumbuh hijau, perlu kerja-kerja aktif untuk mensyukuri.

              %p 
                Ada sabar, ada syukur.

              %p 
                Sebuah jalan yang panjang. Namun insyaAllah kelak hasilnya adalah pohon yang kokoh akan terpaan badai, rindang dan meneduhkan, plus buah-buahnya yang manis. Memberikan manfaat dan perlindungan bagi siapa pun di sekitarnya.sekitarnya.
    %a#about{name: "about"}
    .border
    .aboutus
      .container
        .row
          .col-md-12
            / Title
            .head
              .bor
              %h2 Tentang Kami
              .bor
          .col-md-8
            .about
              / Our love story
              %h3 Cerita Kami
              .bor
              %p Bagaimana kami bertemu? Jika ada yang bertanya ada yang bertanya, “Kok bisa kenal?”, atau “Ketemu di mana?” pada saya, terus terang saya juga bingung bagaimana menjawabnya. Biar tidak bingung, saya coba ceritakan di sini ya, semoga bisa bisa diambil manfaatnya.

              %p Bersyukur sekali Allah memberikan lingkungan yang sangat baik di sekitar saya sehingga pemahaman yang baik bisa saya dapatkan. Saya tidak ingin berpacaran sebelum menikah. Kalau menikah nanti, saya ingin bisa berproses ta’aruf untuk mengawalinya. Hal ini pun saya sampaikan pada kedua orang tua saya. Jauh sebelum proses ini saya lakukan beberapa bulan lalu.

              %p Proses kami berkenalan sampai akhirnya memutuskan untuk menikah bisa dibilang cukup singkat. Sebuah proses yang bisa dibilang memerlukan kepasrahan yang total, keimanan yang penuh, dan baik sangka yang terjaga. Dimulai dari saling bertukar data diri kami yang diperantarai oleh murabbi dan murabbiah kami (red: pembina; guru ngaji). Setelah saling membaca data diri, kami diminta untuk istikhoroh dan berdiskusi dengan orang tua kami tentang proses ini. Di sini saya melihat bahwa mempersiapkan orang tua jauh-jauh hari sebelum proses seperti ini adalah hal yang penting. Karena ridho orang tua adalah ridho Allah. Sehingga mengorientasikan proses perkenalan kepada orang tua penting dilakukan jika memang latar belakang keluarga kita belum familiar dengan proses seperti ini.

              %p Dengan bekal istikhoroh dan musyawarahpun keputusan bersedia untuk melanjutkan proses ini saya sampaikan kepada perantara saya. Akhirnya perantara kami mengatur waktu bagi kami untuk bertemu. Sekitar akhir Juli, yang bertepatan dengan akhir bulan Ramadhan, kami pun bertemu dengan didampingi perantara kami untuk saling menggali satu sama lain. Setelah itu kami pun diberi waktu untuk kembali istikhoroh dan bermusyawarah dengan keluarga kami. Tidak lama, sekitar sepuluh hari keputusan itu dibuat dan kami sama-sama sepakat melanjutkan proses perkenalan ini.

              %p Kurang lebih dua pekan kemudian, Levi datang ke rumah untuk berkenalan dengan keluarga saya. Saat itu orang tua saya menggali banyak hal dari Levi. Begitupun Levi yang berusaha mengenal keluarga saya dan menyampaikan maksud baik yang dibawanya. Beberapa hari setelah itu, Levi pun memberi kabar bahwa beliau akan datang bersama keluarga dari Jogja untuk bersilaturahim dan khitbah (red: lamaran) dua pekan lagi. Duh, saya pun sebetulnya cukup kaget karena tidak menyangka prosesnya akan secepat ini.

              %p Hari yang ditentukan tiba. Levi bersama keluarganya datang untuk bersilaturahim dan mengkhitbah. Alhamdulillah, pertemuan berjalan lancar, khitbah diterima,  dan dengan berbagai pertimbangan, direncakan bahwa kami akan melangsungkan pernikahan sekitar bulan November.

              %p Hmmm... Proses ini memang tidak lama, tapi juga tidak dilakukan dengan tergesa-gesa. Ada proses interaksi yang lebih dengan Allah melalui doa-doa dan istikhoroh yang dilakukan. Ada proses penjagaan diri yang lebih agar hati tidak mejadi keruh supaya dapat menangkap tanda dengan jernih. Ada proses diskusi dan musyawarah dengan orang tua dan orang yang kita anggap memiliki pemahaman yang lebih. Ada sebuah pembelajaran yang sangat besar di sana. Allah melatih kami untuk percaya penuh dan berprasangka baik padaNya. Bagaimana tidak? Kami belum lama saling mengenal, baru dua kali bertemu, tidaklah kami saling mengetahui satu sama lain melainkan sedikit. Tapi istikhoroh dan musyawarah yang kami lakukan menunjukkan kami untuk melanjutkan proses ini. Cukuplah iman dan ilmu yang jadi sebaik-baik bekal. Alhamdulillah, berbagai kemudahan saya rasakan selama proses ini. Allah pun menunjukkan kebaikan-kebaikan lain dari Levi yang menambahkan ketenangan dalam hati. Hingga pelaksanaannya nanti, hal-hal baik inipun harus terus kami jaga. Semoga kami saling menjadi berkah satu sama lain, serta keberkahan itupun dapat dirasakan orang-orang di sekitar kami. Berkah kini, nanti, dan seterusnya.

              %p Satu hal lagi, terinsipirasi dari Om Darwis Tere Liye, ketika kita memiliki niat baik, jaga baiklah niat baik itu. Semoga Allah pertemukan dengan orang yang baik, kesempatan yang baik, dan pada waktu yang terbaik :)
          .col-md-4
            %blockquote Dan orang-orang beriman, lalu anak cucu mereka mengikuti mereka dengan iman, Kami susulkan keturunan meraka pada mereka, dan Kami tidak mengurangi amal mereka sedikitpun (At Thur 21)

            %blockquote Barangsiapa yang menetapkan sunnah hasanah (kebiasaan yang baik) lalu ia diamalkan, maka ia mendapat pahala seperti orang yang mengerjakannya tanpa dikurangi sedikit pun. Dan barangsiapa yang menetapkan dalam Islam satu sunnah sayyi’ah (kebiasaan yang buruk) lalu ada yang  mengamalkannya, maka ia memperoleh dosa seperti yang mengerjakannya tersebut tanpa disusut sedikitpun.

            %blockquote Nikahkanlah orang-orang yang sendirian di antara kamu. Sesungguhnya Allah akan memperbaiki akhlak mereka, meluaskan rezeki mereka, dan menambah keluhuran mereka.

            %blockquote Tiga orang yang akan selalu diberi pertolongan oleh Allah adalah seorang mujahid yang selalu memperjuangkan agama Allah swt, seorang penulis yang selalu memberi penawar, seorang yang menikah untuk menjaga kehormatannya. (HR Thabrani)

            %blockquote Tiga golongan orang yang pasti mendapat pertolongan Allah, yaitu budak mukatab yang bermaksud untuk melunasi perjanjiannya, orang yang menikah dengan maksud memelihara kehormatannya, dan orang yang berjihad di jalan Allah (HR Turmudzi)

            %blockquote Ya Tuhanku, anugerahkanlah aku ilham untuk tetap mensyukuri nikmat-Mu yang telah Engkau anugerahkan kepadaku dan kepada kedua orang tuaku, dan agar aku mengerjakan kebajikan yang Engkau ridai, dan masukkanlah aku dengan rahmat-Muy ke dalam golongan hamba-hamba Mu yang saleh.
        .row
          .col-md-8
            .about
              / Groom details with photo
              %h3
                Irma
                %span.ameta
              %p
                %img{alt: "", src: "assets/img/photos/boy.jpg"}>/
                Assalamu’alaikum... Setelah testimoni dari Levi, sekarang giliran saya memperkenalkan diri  sendiri ya. Perkenalkan, saya Irma Detia Rini, lahir di Bogor, 28 Desember 1989. Saya anak pertama dari dua bersaudara, kakak dari adik saya yang paling ganteng, M. Luqman Fauzi, yang saat ini duduk di bangku kelas XI MAN 13 Jakarta. Berbeda dengan Levi yang menghabiskan masa kecil hingga sekarang di tempat berbeda, saya tinggal di Depok sejak berusia dua tahun sampai sekarang. Menempuh pendidikan sejak taman kanak-kanak hingga bangku kuliah di Depok: TK Panca Daya-SD Pemuda Bangsa-SMP Negeri 3 Depok-SMA Negeri 1 Depok-Universitas Indonesia. Bermain dan belajar banyak hal di sana. Tumbuh dan berkembang di sana.

              %p
                Minat saya pada dunia kesehatan dan kesukaan saya untuk berinteraksi dengan orang lain akhirnya membawa saya untuk belajar di Fakultas Ilmu Keperawatan UI setelah lulus SMA pada tahun 2008. Kenapa akhirnya memilih keperawatan? Karena saya melihat adanya ladang amal luas yang bisa saya garap nantinya. Dan alhamdulillah, saat pengumuman hasil UMB, rasanya yakin untuk diambil. Semakin lama belajar dan mengalami, semakin terasa manfaatnya, semakin suka >.<, hehe. Saking luasnya yang saya pelajari di keperawatan, saya jadi punya banyak mimpi, dari mulai menjadi perawat luka, konselor laktasi, berwirausaha di bidang keperawatan, dan masih banyak lagi. Lho kok banyak banget? Hehe, nggak apa-apa ya? Bermimpi itu gratis kan? ^.^. Oiya, selain itu, saya juga suka baca, nonton, menulis, dan jalan-jalan. Hmm... Bergerak dalam kekhususan apapun nantinya, saya ingin bisa menebar manfaat seluas-luasnya untuk banyak orang. Tidak terbatas usia, ruang, dan waktu. Semoga Allah tunjukkan jalannya dan mampukan saya. Semoga juga pertemuan saya dengan Levi ini membawa keberkahan untuk diri kami dan orang-orang di sekitar kami nantinya. Berkah kini, nanti, dan seterusnya.

          .col-md-4
            %div
              %blockquote “Kesan pertama yang menarik untuk mengenal Irma lebih dalam, adalah kerinduannya pada Ramadhan, kecintaannya pada ilmu, dan penghargaannya pada waktu. Dan semakin mengenalnya, semakin mendapati kebaikan-kebaikan lain padanya. 

              %blockquote Ada juga beberapa ekspektasi yang - alhamdulillah - meleset :D. Kesan awalnya Irma serius, ternyata supel dan suka bercanda. Irma agak pemalu, tapi setelah sudah cukup mengenal, ternyata banyak juga cerita….”
        .row
          .col-md-6
            .about
              / bride details with photo
              %h3
                Levi
                %span.ameta
              %p
                %img{alt: "", src: "assets/img/photos/girl.jpg"}>/
                Mungkin karena harapan orang tua pada nama tengah saya, saya tumbuh menjadi seorang yang suka penasaran untuk berpikir dan hobi bertanya macam-macam.

              %p
                Saya menghabiskan masa kecil di negeri Sakura, mengikuti bapak yang tugas kuliah. Kurang lebih 5 tahun, saya berada di sekolah yang hanya lima orang isi kelasnya: Sekolah Republik Indonesia Tokyo. Tempat yang meninggalkan banyak kesan, sebelum akhirnya kembali ke tanah air, bermukim di kota pelajar, Yogyakarta hingga masa SMA.

              %p
                Minat saya pada dunia informatika dimulai sejak mengikuti Olimpiade Sains Nasional Komputer. Setelah menyelesaikan S1 di Computer Science Nanyang Technological University, saat ini saya sedang menempuh jenjang S2 di National University of Singapore, sekaligus mencari nafkah di sebuah perusahaan IT di Singapura.

              %p
                Saya terobsesi untuk mengamalkan ilmu saya dengan menebar kebaikan, salah satunya melalui media IT.
          
          .col-md-6
            .about

              %p
                Saya ingat betul hal pertama yang kami bahas ketika pertama kali bertemu Ramadhan lalu adalah pertanyaan besar yang ada di kepala Levi, “Apa yang bisa istri saya lakukan setelah menikah?”. Oke, dari sana saya melihat Levi adalah seorang yang ‘nggak bisa diem’. Selalu berusaha supaya waktu dan dirinya bermanfaat. Dan bersyukur sekali, karena Levi siap mendukung aktivitas kebaikan yang dilakukan istrinya nanti. Sip.

              %p
                Dan tentang hobinya untuk bertanya, memang benar adanya. Levi bahkan bertanya tentang hal-hal yang membuat saya heran, kaget, dan berpikir benar-benar saat itu untuk menjawabnya. Kayak lagi ujian. Hehehe. Tapi nggak apa-apa, itu tanda kalau Levi memang suka belajar. Seorang pembelajar yang baik biasanya akan bisa menjadi guru yang baik juga :)

              %p
                Kesan serius, formal, dan kaku sempat membuat saya agak takut awalnya. Takut salah bicara, takut macem-macem. Tapi ternyata nggak begitu juga kok. Levi orangnya baik dan cukup tanggap terhadap beberapa hal. Bersyukur juga karena Allah pun menunjukkan sisi lain dari Levi yang terkadang membuat saya terharu dan juga belajar banyak dari beliau. Tambahan juga, kesan orang tua saya terhadap Levi, ternyata walaupun terlihat kalem-kalem lugu, Levi anak yang berani dan, hmm, agak nekat. Orang tua saya cukup salut dengan kelugasannya untuk menyampaikan maksud dan pemikiranya. Semoga bisa menginspirasi yang lain ya. Itu dulu mungkin. Tabir ini memang baru terungkap sebagian. Biar waktu yang mengungkap selebihnya. Biar iman dan baik sangka yang jadi sebaik-baik bekal :)
    .border
    %a#wedding{name: "wedding"}
    %hr/
    .itop
      %a.anchorLink{href: "#home"}
        %i.icon-chevron-up
    .border
    .container
      .row
        .col-md-12
          .head
            .bor
            %h2 The Wedding
            .bor
        .col-md-4
          .wedding
            / Ceremony details
            %h4
              %i.icon-heart
              Ceremony
            %a{href: "#"} Royal Korem Church
            %br/
            12, New Charka Road
            %br/
            New York City, NY 43423
            %br/
            (123) 456-7890
            %br/
            %a{href: "http://maps.google.com"} Get Direction
            %hr/
            / Reception details
            %h4
              %i.icon-star
              Reception
            %a{href: "#"} Royal Korem Garden
            %br/
            12, New Charka Road
            %br/
            New York City, NY 43423
            %br/
            (123) 456-7890
            %br/
            %a{href: "http://maps.google.com"} Get Direction
        .col-md-4
          .wedding
            / Wedding details
            %h4
              %i.icon-glass
              Wedding Party
            Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus  rutrum aliquet.
            = succeed "John" do
              %h5 Ring Bearer:
            %h5 Bridesmaids:
            Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.
            %h5 Groomsmen:
            Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.
        .col-md-4
          .wedding
            / Travel and Accomodation
            %h4
              %i.icon-home
              Accommodations
            %a{href: "#"} Royal Korem Garden
            %br/
            12, New Charka Road
            %br/
            New York City, NY 43423
            %br/
            (123) 456-7890
            %br/
            %a{href: "http://maps.google.com"} Get Direction
            %hr/
            %h4
              %i.icon-truck
              Travel
            %h5 By Car:
            Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor.
            %br/
            %h5 By Flight:
            Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor.
    .border
    %a#rsvp{name: "rsvp"}
    %hr/
    .itop
      %a.anchorLink{href: "#home"}
        %i.icon-chevron-up
    .border
    .container
      .row
        .col-md-12
          .head
            .bor
            %h2 RSVP
            .bor
        .col-md-12
          .about
            / Contact details
            %h3 Please fill out the below form
            %p Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat.
            %form.form-inline
              .form-group
                .col-md-12
                  %input.form-control.input-sm{placeholder: "Name", type: "text"}/
              .form-group
                .col-md-12
                  %input.form-control.input-sm{placeholder: "Email", type: "text"}/
              .form-group
                .col-md-12
                  %input.form-control.input-sm{placeholder: "Attending?", type: "text"}/
              .form-group
                .col-md-3
                  %button.btn.btn-success.btn-sm{type: "submit"} Submit
            %p
              If you have any questions, let me know
              %a{href: "mailto:something@gmail.com"} something@gmail.com
    .border
    %hr/
    .itop
      %a.anchorLink{href: "#home"}
        %i.icon-chevron-up
    / Footer
    %footer
      .container
        .row
          .col-md-12
            %p
              Copyright ©
              %a{href: "#"} Your Site
            .border
        .clearfix
    / JS
    %script{src: "assets/js/jquery.js"}
    %script{src: "assets/js/bootstrap.js"}
    %script{src: "assets/js/jquery.flexslider-min.js"}
    %script{src: "assets/js/jquery.anchor.js"}
    %script{src: "assets/js/custom.js"}