%a#rsvp{name: "rsvp"}
%hr/
.itop
  %a.anchorLink{href: "#home"}
    %i.icon-chevron-up
.border
.container
  .row
    .col-xs-12
      .head
        .bor
        %h2 RSVP
        .bor
    .col-xs-12
      .about
        / Contact details
        %h3 Please fill out the below form
        %p Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat.
        %form.form-inline
          .form-group
            .col-xs-12
              %input.form-control.input-sm{placeholder: "Name", type: "text"}/
          .form-group
            .col-xs-12
              %input.form-control.input-sm{placeholder: "Email", type: "text"}/
          .form-group
            .col-xs-12
              %input.form-control.input-sm{placeholder: "Attending?", type: "text"}/
          .form-group
            .col-xs-3
              %button.btn.btn-success.btn-sm{type: "submit"} Submit
        %p
          If you have any questions, let me know
          %a{href: "mailto:something@gmail.com"} something@gmail.com