%a#about{name: "about"}
.border
.container
  .row
    .col-md-12
      / Title
      .head
        .bor
        %h2 Cerita Kami
        .bor
    .col-md-8
      %div
        / Our love story
        %p Bagaimana kami bertemu? Jika ada yang bertanya ada yang bertanya, “Kok bisa kenal?”, atau “Ketemu di mana?” pada kami, terus terang kami juga bingung bagaimana menjawabnya. Biar tidak bingung, kami coba ceritakan di sini ya, semoga bisa bisa diambil manfaatnya.

        %p Bersyukur sekali Allah memberikan lingkungan yang baik di sekitar kami sehingga pemahaman yang baik bisa kami dapatkan. Kalau menikah nanti, kami ingin bisa berproses ta’aruf untuk mengawalinya. Hal ini pun kami sampaikan pada kedua orang tua kami. Jauh sebelum proses ini kami lakukan beberapa bulan lalu.

        %p Proses kami berkenalan sampai akhirnya memutuskan untuk menikah bisa dibilang cukup singkat. Sebuah proses yang bisa dibilang memerlukan baik sangka yang terjaga. Dimulai dari saling bertukar data diri kami yang diperantarai oleh teman kami. Setelah saling membaca data diri, kami beristikhoroh dan berdiskusi dengan orang tua tentang proses ini. Di sini kami melihat bahwa mempersiapkan orang tua jauh-jauh hari sebelum proses seperti ini adalah hal yang penting. Karena ridho orang tua adalah ridho Allah. Sehingga mengorientasikan proses perkenalan kepada orang tua penting dilakukan jika memang latar belakang keluarga kita belum familiar dengan proses seperti ini.

        %p Dengan bekal istikhoroh dan musyawarahpun keputusan bersedia untuk melanjutkan proses ini kami sampaikan kepada perantara kami. Akhirnya sekitar akhir Juli, yang bertepatan dengan akhir bulan Ramadhan, kami pun bertemu dengan didampingi perantara kami untuk saling menggali satu sama lain. Setelah itu kami pun diberi waktu untuk kembali istikhoroh dan bermusyawarah dengan keluarga kami. Tidak lama, sekitar sepuluh hari keputusan itu dibuat dan kami sama-sama sepakat melanjutkan proses perkenalan ini.

        %p Kurang lebih dua pekan kemudian, Levi datang ke rumah Irma untuk berkenalan dengan keluarga Irma. Saat itu orang tua Irma menggali banyak hal dari Levi. Begitupun Levi yang berusaha mengenal keluarga Irma dan menyampaikan maksud baik yang dibawanya. Beberapa hari setelah itu, Levi pun memberi kabar bahwa Levi akan datang bersama keluarga dari Jogja untuk bersilaturahim dan khitbah (lamaran) dua pekan setelahnya.

        %p Hari yang ditentukan tiba. Levi bersama keluarganya datang untuk bersilaturahim dan mengkhitbah. Alhamdulillah, pertemuan berjalan lancar, khitbah diterima,  dan dengan berbagai pertimbangan, direncakan bahwa kami akan melangsungkan pernikahan sekitar bulan November.

        %p Hmmm... Proses ini memang tidak lama, tapi juga tidak dilakukan dengan tergesa-gesa. Ada proses interaksi yang lebih dengan Allah melalui doa-doa dan istikhoroh yang dilakukan. Ada proses penjagaan diri yang lebih agar hati tidak mejadi keruh supaya dapat menangkap tanda dengan jernih. Ada proses diskusi dan musyawarah dengan orang tua dan orang yang kita anggap memiliki pemahaman yang lebih. Ada sebuah pembelajaran yang sangat besar di sana. Allah melatih kami untuk percaya penuh dan berprasangka baik padaNya. Bagaimana tidak? Kami belum lama saling mengenal, baru dua kali bertemu, tidaklah kami saling mengetahui satu sama lain melainkan sedikit, namun cukup. Tapi istikhoroh dan musyawarah yang kami lakukan menunjukkan kami untuk melanjutkan proses ini. Cukuplah iman dan ilmu yang jadi sebaik-baik bekal. 

        %p Alhamdulillah, berbagai kemudahan kami rasakan selama proses ini. Allah pun menunjukkan kebaikan-kebaikan lain dari masing-masing yang menambahkan ketenangan dalam hati. Hingga pelaksanaannya nanti, hal-hal baik inipun harus terus kami jaga. Mohon doanya, semoga kami saling menjadi berkah satu sama lain, serta keberkahan itupun dapat dirasakan orang-orang di sekitar kami. Berkah kini, nanti, dan seterusnya.

        %p Satu hal lagi, terinsipirasi dari Om Darwis Tere Liye, ketika kita memiliki niat baik, jaga baiklah niat baik itu. Semoga Allah pertemukan dengan orang yang baik, kesempatan yang baik, dan pada waktu yang terbaik :)
    .col-md-4
      %blockquote Dan orang-orang beriman, lalu anak cucu mereka mengikuti mereka dengan iman, Kami susulkan keturunan meraka pada mereka, dan Kami tidak mengurangi amal mereka sedikitpun (At Thur 21)

      %blockquote Barangsiapa yang menetapkan sunnah hasanah (kebiasaan yang baik) lalu ia diamalkan, maka ia mendapat pahala seperti orang yang mengerjakannya tanpa dikurangi sedikit pun. Dan barangsiapa yang menetapkan dalam Islam satu sunnah sayyi’ah (kebiasaan yang buruk) lalu ada yang  mengamalkannya, maka ia memperoleh dosa seperti yang mengerjakannya tersebut tanpa disusut sedikitpun.

      %blockquote Nikahkanlah orang-orang yang sendirian di antara kamu. Sesungguhnya Allah akan memperbaiki akhlak mereka, meluaskan rezeki mereka, dan menambah keluhuran mereka.

      %blockquote Ya Tuhanku, anugerahkanlah aku ilham untuk tetap mensyukuri nikmat-Mu yang telah Engkau anugerahkan kepadaku dan kepada kedua orang tuaku, dan agar aku mengerjakan kebajikan yang Engkau ridai, dan masukkanlah aku dengan rahmat-Mu ke dalam golongan hamba-hamba Mu yang saleh.