%a#about{name: "about"}
.border
.container
  .row
    .col-md-12
      / Title
      .head
        .bor
        %h2 Cerita Kami
        .bor
    .col-md-8
      %div
        / Our love story
        %h3 Cerita Kami
        .bor
        %p Bagaimana kami bertemu? Jika ada yang bertanya ada yang bertanya, “Kok bisa kenal?”, atau “Ketemu di mana?” pada saya, terus terang saya juga bingung bagaimana menjawabnya. Biar tidak bingung, saya coba ceritakan di sini ya, semoga bisa bisa diambil manfaatnya.

        %p Bersyukur sekali Allah memberikan lingkungan yang sangat baik di sekitar saya sehingga pemahaman yang baik bisa saya dapatkan. Saya tidak ingin berpacaran sebelum menikah. Kalau menikah nanti, saya ingin bisa berproses ta’aruf untuk mengawalinya. Hal ini pun saya sampaikan pada kedua orang tua saya. Jauh sebelum proses ini saya lakukan beberapa bulan lalu.

        %p Proses kami berkenalan sampai akhirnya memutuskan untuk menikah bisa dibilang cukup singkat. Sebuah proses yang bisa dibilang memerlukan kepasrahan yang total, keimanan yang penuh, dan baik sangka yang terjaga. Dimulai dari saling bertukar data diri kami yang diperantarai oleh murabbi dan murabbiah kami (red: pembina; guru ngaji). Setelah saling membaca data diri, kami diminta untuk istikhoroh dan berdiskusi dengan orang tua kami tentang proses ini. Di sini saya melihat bahwa mempersiapkan orang tua jauh-jauh hari sebelum proses seperti ini adalah hal yang penting. Karena ridho orang tua adalah ridho Allah. Sehingga mengorientasikan proses perkenalan kepada orang tua penting dilakukan jika memang latar belakang keluarga kita belum familiar dengan proses seperti ini.

        %p Dengan bekal istikhoroh dan musyawarahpun keputusan bersedia untuk melanjutkan proses ini saya sampaikan kepada perantara saya. Akhirnya perantara kami mengatur waktu bagi kami untuk bertemu. Sekitar akhir Juli, yang bertepatan dengan akhir bulan Ramadhan, kami pun bertemu dengan didampingi perantara kami untuk saling menggali satu sama lain. Setelah itu kami pun diberi waktu untuk kembali istikhoroh dan bermusyawarah dengan keluarga kami. Tidak lama, sekitar sepuluh hari keputusan itu dibuat dan kami sama-sama sepakat melanjutkan proses perkenalan ini.

        %p Kurang lebih dua pekan kemudian, Levi datang ke rumah untuk berkenalan dengan keluarga saya. Saat itu orang tua saya menggali banyak hal dari Levi. Begitupun Levi yang berusaha mengenal keluarga saya dan menyampaikan maksud baik yang dibawanya. Beberapa hari setelah itu, Levi pun memberi kabar bahwa beliau akan datang bersama keluarga dari Jogja untuk bersilaturahim dan khitbah (red: lamaran) dua pekan lagi. Duh, saya pun sebetulnya cukup kaget karena tidak menyangka prosesnya akan secepat ini.

        %p Hari yang ditentukan tiba. Levi bersama keluarganya datang untuk bersilaturahim dan mengkhitbah. Alhamdulillah, pertemuan berjalan lancar, khitbah diterima,  dan dengan berbagai pertimbangan, direncakan bahwa kami akan melangsungkan pernikahan sekitar bulan November.

        %p Hmmm... Proses ini memang tidak lama, tapi juga tidak dilakukan dengan tergesa-gesa. Ada proses interaksi yang lebih dengan Allah melalui doa-doa dan istikhoroh yang dilakukan. Ada proses penjagaan diri yang lebih agar hati tidak mejadi keruh supaya dapat menangkap tanda dengan jernih. Ada proses diskusi dan musyawarah dengan orang tua dan orang yang kita anggap memiliki pemahaman yang lebih. Ada sebuah pembelajaran yang sangat besar di sana. Allah melatih kami untuk percaya penuh dan berprasangka baik padaNya. Bagaimana tidak? Kami belum lama saling mengenal, baru dua kali bertemu, tidaklah kami saling mengetahui satu sama lain melainkan sedikit. Tapi istikhoroh dan musyawarah yang kami lakukan menunjukkan kami untuk melanjutkan proses ini. Cukuplah iman dan ilmu yang jadi sebaik-baik bekal. Alhamdulillah, berbagai kemudahan saya rasakan selama proses ini. Allah pun menunjukkan kebaikan-kebaikan lain dari Levi yang menambahkan ketenangan dalam hati. Hingga pelaksanaannya nanti, hal-hal baik inipun harus terus kami jaga. Semoga kami saling menjadi berkah satu sama lain, serta keberkahan itupun dapat dirasakan orang-orang di sekitar kami. Berkah kini, nanti, dan seterusnya.

        %p Satu hal lagi, terinsipirasi dari Om Darwis Tere Liye, ketika kita memiliki niat baik, jaga baiklah niat baik itu. Semoga Allah pertemukan dengan orang yang baik, kesempatan yang baik, dan pada waktu yang terbaik :)
    .col-md-4
      %blockquote Dan orang-orang beriman, lalu anak cucu mereka mengikuti mereka dengan iman, Kami susulkan keturunan meraka pada mereka, dan Kami tidak mengurangi amal mereka sedikitpun (At Thur 21)

      %blockquote Barangsiapa yang menetapkan sunnah hasanah (kebiasaan yang baik) lalu ia diamalkan, maka ia mendapat pahala seperti orang yang mengerjakannya tanpa dikurangi sedikit pun. Dan barangsiapa yang menetapkan dalam Islam satu sunnah sayyi’ah (kebiasaan yang buruk) lalu ada yang  mengamalkannya, maka ia memperoleh dosa seperti yang mengerjakannya tersebut tanpa disusut sedikitpun.

      %blockquote Nikahkanlah orang-orang yang sendirian di antara kamu. Sesungguhnya Allah akan memperbaiki akhlak mereka, meluaskan rezeki mereka, dan menambah keluhuran mereka.

      %blockquote Tiga orang yang akan selalu diberi pertolongan oleh Allah adalah seorang mujahid yang selalu memperjuangkan agama Allah swt, seorang penulis yang selalu memberi penawar, seorang yang menikah untuk menjaga kehormatannya. (HR Thabrani)

      %blockquote Tiga golongan orang yang pasti mendapat pertolongan Allah, yaitu budak mukatab yang bermaksud untuk melunasi perjanjiannya, orang yang menikah dengan maksud memelihara kehormatannya, dan orang yang berjihad di jalan Allah (HR Turmudzi)

      %blockquote Ya Tuhanku, anugerahkanlah aku ilham untuk tetap mensyukuri nikmat-Mu yang telah Engkau anugerahkan kepadaku dan kepada kedua orang tuaku, dan agar aku mengerjakan kebajikan yang Engkau ridai, dan masukkanlah aku dengan rahmat-Muy ke dalam golongan hamba-hamba Mu yang saleh.