%a#wedding{name: "wedding"}
.border
.container
  .row
    .col-md-12
      .head
        .bor
        %h2 Pernikahan
        .bor
  .row
    .col-md-4
      .wedding
        / Ceremony details
        %h4
          %i.icon-heart
          Akad
        Ahad, 17 November 2013
        %br
        11:00-14:00
        %br
        %br
        The View Wedding Hall
        %br
        Perumahan Gema Pesona Estate
        %br
        Jl Tole Iskandar, Depok
        %hr/
        / Reception details
        %h4
          %i.icon-star
          Walimah
        Ahad, 17 November 2013
        %br
        11:00-14:00
        %br
        %br
        The View Wedding Hall
        %br
        Perumahan Gema Pesona Estate
        %br
        Jl Tole Iskandar, Depok
    .col-md-8
      .col-md-12
        .wedding
          %h4
            %i.icon-building
            Peta lokasi
          %a.thumbnail{href:"assets/img/photos/map.jpg", style: 'width:100%; margin-right:15px; margin-bottom: 10px'}
            %img{alt: "", src: "assets/img/photos/map.jpg"} 
      .col-md-6
        .wedding
          / Travel and Accomodation
          %h4
            %i.icon-home
            Accommodations

          %h5
            %i.icon-home 
            Hotel Santika 
            %i.icon-globe{style: 'float:right'}
              %a{href: 'http://www.santika.com/santika-depok'} www
          %p
            Jl. Margonda Raya Kav.88, Depok 16423

          %h5
            %i.icon-home 
            Sifaana Hotel
            %i.icon-globe{style: 'float:right'}
              %a{href: 'http://sifaanahotel.com/'} www
          %p
            Jl. Margonda Raya No 246, Depok, 16423

          %h5
            %i.icon-home 
            Hotel Bumi Wiyata
            %i.icon-globe{style: 'float:right'}
              %a{href: 'http://hotelbumiwiyata.com/'} www
          %p
            Jl. Margonda Raya Depok 16423

          %h5
            %i.icon-home 
            Wisma Makara UI
            %i.icon-globe{style: 'float:right'}
              %a{href: 'http://wismamakara.ui.ac.id/'} www
          %p
            Kompleks Universitas Indonesia Depok
            
      .col-md-6
        .wedding
          %h4
            %i.icon-truck
            Transporatasi
          %h5 Dari Soekarno Hatta
          %p
            %ol
              %li Keluar dari terminal 1, 2, ataupun 3, naik bus Damri tujuan Pasar Minggu
              %li Dari stasiun Pasar Minggu naik taksi menuju perumahan Gema Pesona
.border