%a#wedding{name: "wedding"}
.border
.container
  .row
    .col-md-12
      .head
        .bor
        %h2 The Wedding
        .bor
  .row
    .col-md-4
      .wedding
        / Ceremony details
        %h4
          %i.icon-heart
          Akad
        Ahad, 17 November 2013
        %br
        11:00-14:00
        %br
        %br
        The View Wedding Hall
        %br
        Perumahan Gema Pesona Estate, Jl Tole Iskandar, Depok
        %br
        %a{href: "http://maps.google.com"} Get Direction
        %hr/
        / Reception details
        %h4
          %i.icon-star
          Walimah
        Ahad, 17 November 2013
        %br
        11:00-14:00
        %br
        %br
        The View Wedding Hall
        %br
        Perumahan Gema Pesona Estate, Jl Tole Iskandar, Depok
        %br
        %a{href: "http://maps.google.com"} Get Direction
    .col-md-8
      .col-md-12
        .wedding
          %h4
            %i.icon-building
            Peta lokasi
          %a.thumbnail{href:"assets/img/photos/map.jpg", style: 'width:100%; margin-right:15px; margin-bottom: 10px'}
            %img{alt: "", src: "assets/img/photos/map.jpg"} 
      .col-md-6
        .wedding
          / Travel and Accomodation
          %h4
            %i.icon-home
            Accommodations
          %a{href: "#"} Royal Korem Garden
          %br/
          12, New Charka Road
          %br/
          New York City, NY 43423
          %br/
          (123) 456-7890
          %br/
          %a{href: "http://maps.google.com"} Get Direction
          %hr/
      .col-md-6
        .wedding
          %h4
            %i.icon-truck
            Travel
          %h5 By Car:
          Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor.
          %br/
          %h5 By Flight:
          Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor.
.border