%a#wedding{name: "wedding"}
.border
.container
  .row
    .col-md-12
      .head
        .bor
        %h2 The Wedding
        .bor
    .col-md-4
      .wedding
        / Ceremony details
        %h4
          %i.icon-heart
          Ceremony
        %a{href: "#"} Royal Korem Church
        %br/
        12, New Charka Road
        %br/
        New York City, NY 43423
        %br/
        (123) 456-7890
        %br/
        %a{href: "http://maps.google.com"} Get Direction
        %hr/
        / Reception details
        %h4
          %i.icon-star
          Reception
        %a{href: "#"} Royal Korem Garden
        %br/
        12, New Charka Road
        %br/
        New York City, NY 43423
        %br/
        (123) 456-7890
        %br/
        %a{href: "http://maps.google.com"} Get Direction
    .col-md-4
      .wedding
        / Wedding details
        %h4
          %i.icon-glass
          Wedding Party
        Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus  rutrum aliquet.
        = succeed "John" do
          %h5 Ring Bearer:
        %h5 Bridesmaids:
        Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.
        %h5 Groomsmen:
        Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.
    .col-md-4
      .wedding
        / Travel and Accomodation
        %h4
          %i.icon-home
          Accommodations
        %a{href: "#"} Royal Korem Garden
        %br/
        12, New Charka Road
        %br/
        New York City, NY 43423
        %br/
        (123) 456-7890
        %br/
        %a{href: "http://maps.google.com"} Get Direction
        %hr/
        %h4
          %i.icon-truck
          Travel
        %h5 By Car:
        Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor.
        %br/
        %h5 By Flight:
        Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor.
.border